body {
    background-color: #202020;
    color: #eee;
}

h1 {
    text-shadow: 5px 5px #000;
}

#main-table>* td,
#main-table>* th {
    padding: 15px;
    border: 1px solid #eee;
}

#main-table>* th {
    color: #eee;
    margin: 10px;
    background-color: #000;
}

#main-table>* tr:nth-child(even) {
    color: #eee;
    background-color: #222;
}

#main-table>* tr:nth-child(odd) {
    color: #eee;
    background-color: #000;
}

.hide-button-bg>* td:nth-last-of-type(1), 
.hide-button-bg>* td:nth-last-of-type(2) {
    background-color: #202020; /*same as body*/
}

.large-button , .small-button {
    color: #eee;
    background-color: #000;
    border: 2px solid #eee;
}

.large-button:hover , .small-button:hover {
    color: #000;
    background-color: #eee;
}

div.menubar {
    background-color: #000;
    color: #eee;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
}

.menubar-item {
    border: 2px solid #eee;
}

.menubar-item:hover {
    font-weight: bold;
    background-color: #eee;
    color: #000;
}

option, input{
	background-color: #202020;
}

.searchbar>input[type=text]{
	background-color: #000;
}